*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;

    li{
        margin: 10px 0;
         
        a{
            color: #000;

            &:hover{

                color: #ccc;
            }
        }
    }
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

header{
    background-color: lightseagreen;
    height: 100px;
    line-height: 100px;

    a{
        color: #fff;
        text-transform: uppercase;
    }
}

#libraries{
    padding: 80px 0;

    h2{
        font-size: 32px;
        color: rgb(12, 82, 78);
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}